* /*Padding and margin is 0 meaning any element can be changed with CSS by default have no extra spacing.*/ 
{
    font-family:  'Calibri', 'Trebuchet MS', 'sans-serif';
    padding: 0;
    margin: 0;
}

/* Removing formatting for anchor links and adding color */
header  
{
    text-decoration: none;
    color: #94cedd;
}
/*Formatting for about me, work, and contact me section*/
section h1 {
    font-size: 40px;
    color: #354051;
    border-right: 3px solid #354051;
    padding: 10px 15px;
    text-align: right;
    width: 20%;   
}

/* Header Section */

header {
    background: #31353D;
    display: flex;
    justify-content:space-between;    
}
/*Formatting for "Alexandria White" in header*/
header h1 {
    background: #94cedd;
    color: #31353D;
    font-size: 40px;
        padding: 5px 5px 5px 20px;
    margin: 2.5% 0;
}
/* Styling for the links in the header */
header nav {
    color: #94cedd;
    font-weight: lighter;
    justify-content: space-between;
    margin: 1.5% 5% 1.5% 0;
}
/*Formatting to turn header bullet points horizontal without bullets */
header nav ul {
    list-style: none;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: center;
    margin: 1.5% 0 1.5% 0;
}
/*Spacing of header anchors*/
header nav ul li {
    border-bottom: 3px solid #94cedd;
    font-size: 24px;
    display: inline-block; 
    padding: 5px 10px;
    margin: 10px;
}

/* Hero formatting */
.hero {
    background: #94cedd;
    color: #31353D;
    background-image: url("../images/WIT.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position:100%;
    height: 250px;
    width:100%;
    position: relative;
    display: flex;
    justify-content:right;
}

/* H2 formatting */
.hero h2 {
    background: #94cedd;
    position: absolute;
    text-align: center;
    bottom: 10%;
    padding: 10px;
    margin-right: 5%;
}
/*Article elements makes the page apear more blog like*/
.content article {
    margin: 20px 0;
    width: 95%;
}

/* Formatting for lower about me section  */
.about-me {
    display:flex;   
}
/*Paragraph formatting about me section*/
.about-me p {
    color: #354051;
    padding: 0 10px;
    width: 80%;
}


/* Formatting for lower work section*/
.work {
    display: flex;
    }
/*Formatting for project display*/
.projects {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 80%;
    padding: 0 12px;
}
/*Formatting for size of projects*/
.project-container {
    object-fit: cover;
    position: relative;
    width: 40%;
    height: 150px;
    margin: 5px 0;
    border: 3px solid #94cedd;
    flex-grow: 2;
}
/*Formatting for project labels*/
.project-container h3 {
    color: #31353D;
    background: #94cedd;
    font-weight: bolder;
    padding: 5px;
    position: absolute;
    bottom: 10%;
    line-height: 1.2;
}
/*Formatting for project labels code in line 2*/
.project-container h3 p {
    font-size:smaller;
    font-weight: lighter;
}
/*dims image to % so the hover brightness is noticable*/
.project-container img {
    filter: brightness(70%); 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Makes image brighter when hovering over it */
.project-container img:hover {
    filter: brightness(100%);
}
/*Landing page formatting*/
.project-1 {
    margin-top: 0;
    height:500px;
    width:1000px;
}

/* Margin projects 2-5 */
.margin {
    margin: 7px;
}

/*Footer spacing to be in line with projects */
footer {
    display: flex;
    justify-content: space-between;
}
/* Removing formatting for anchor links and adding color */
footer a {
    text-decoration: none;
    color: #354051;
}
/*Formatting for footer section*/
footer h1 {
    font-size: 40px;
    color: #354051;
    border-right: 3px solid #354051;
    padding: 10px 15px;
    text-align: right;
    width: 20%;   
}
/*Location of the footer links not being on the right of the screen*/
footer nav {
    width: 80%;
    padding: 0 10px;
    justify-content: space-between;
    margin: 1.5% 5% 1.5% 0;
}
/*Footer section formatting of text size and color*/
footer nav li {
    color: #354051;
    border-bottom: 3px solid #354051;
    font-size: 24px;
    font-weight: lighter;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3px 10px;
    margin: 10px;
}
/*Formatting to turn header bullet points horizontal without bullets */
footer nav ul {
    list-style: none;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: center;
    margin: 1.5% 0 1.5% 0;
}

/* Formatting for tablet sized screens */
@media screen and (max-width: 980px){
    section h1, 
    footer h1{
        font-size: 40px;
    }

}
/*  Formatting for phone sized screens  */
@media screen and (max-width: 768px){

    header {
        justify-content: center;
    }
    section h1, footer h1{
        font-size: 32px;
    } 
}
/* Formats for smaller phone screens */
@media screen and (max-width: 575px){
    header {
        justify-content: center;
    }
    .primary-project{
        height: 150px;
    }

    section h1, 
    footer h1{
        font-size: 32px;
        text-align: left;
        border-right: none;
        padding: inherit;
    }

    header nav ul li {
        font-size: 16px;
        padding: 5px 8px;
    }

    /* Stacks content in columns when screen is more narrow */
    .about-me, 
    .work, 
    footer {
        flex-direction: column;
    }

    .project-container, 
    footer nav{
        width: 100%;
        justify-content: center;
    }
    /* Changes format of footer navigation elements */
    footer nav ul {
        flex-direction: column;
        align-items: baseline;
        align-content: baseline;
    }

    footer nav ul li {
        margin: 0;
        width: fit-content;
    }
    
}